/* Variables */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600|Ubuntu:400,500|Vollkorn:400,600|Zilla+Slab");
/* Mixins */
/* Base Styles */
* {
  box-sizing: border-box; }

html,
body {
  color: #999999;
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  font-weight: 100;
  margin: 0;
  padding: 0; }

#logOut {
  padding: 0 1em;
  margin: 0;
  font-size: 3rem; }

section {
  padding-top: 4rem;
  color: #424242; }
  section h1 {
    font-size: 6rem;
    color: #689f38d9;
    font-family: "Zilla Slab", serif; }
  section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem; }
  section h3 {
    font-size: 3rem;
    margin-bottom: 4rem; }
  section p {
    font-size: 1.8rem;
    line-height: 3rem;
    font-family: "Vollkorn", serif;
    color: #263238cf;
    letter-spacing: -1px;
    width: 55%; }

.style1 {
  animation: bgFadeIn 1s ease-in both;
  position: relative;
  padding: 0;
  height: 82vh; }
  .style1:before {
    background: linear-gradient(rgba(3, 18, 28, 0.5), rgba(3, 18, 28, 0.5)), url("./images/tree.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }

@keyframes bgFadeIn {
  0% {
    background-color: white; }
  100% {
    background-color: rgba(255, 255, 255, 0); } }
  .style1 .intro-content {
    flex-direction: column;
    display: flex;
    padding: 7% 10% 4.5% 10%;
    font-family: "Vollkorn", serif;
    color: #ffffff;
    height: 100%;
    justify-content: space-between; }
    .style1 .intro-content h2 {
      font-size: 6.5rem;
      line-height: 120%;
      font-weight: bold;
      padding-bottom: 1rem; }
    .style1 .intro-content h3 {
      color: #fff59d;
      font-size: 5.5rem;
      margin: 0;
      letter-spacing: -2px;
      font-weight: 500;
      font-family: "Zilla Slab", serif; }
    .style1 .intro-content .intro {
      font-size: 6rem;
      font-family: "Fira Sans", sans-serif;
      letter-spacing: 5px;
      line-height: 130%; }
      .style1 .intro-content .intro li {
        padding: 0.5% 0;
        line-height: 130%; }

#nav {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px #424242; }
  #nav ul {
    display: flex;
    width: 65%;
    font-size: 3rem;
    justify-content: space-between; }
    #nav ul a {
      color: #000000bd;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-transition: color 0.15s ease-in-out;
      transition: color 0.15s ease-in-out;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: center;
      font-family: 'Zilla Slab', serif;
      font-weight: 600;
      font-size: 3rem;
      text-align: center;
      text-decoration: none;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      border-radius: 0.15em;
      border: none;
      cursor: pointer; }
    #nav ul a:hover {
      color: grey; }

div.two-content {
  display: flex;
  flex-direction: column;
  margin: 0 17%;
  justify-content: space-between;
  min-height: 90vh; }
  div.two-content .list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 6rem 6rem 6rem; }
    div.two-content .list img {
      width: fit-content;
      height: auto; }
    div.two-content .list div {
      display: flex;
      padding-top: 2%;
      justify-content: space-evenly;
      align-items: center;
      align-content: center; }
  div.two-content ul {
    width: 55%; }

div.three-content {
  display: flex;
  justify-content: space-between;
  width: 65%;
  align-items: center;
  flex-direction: column; }
  div.three-content div {
    width: 55%; }

div.four-content {
  display: flex;
  justify-content: space-between;
  width: 65%;
  align-items: center; }
  div.four-content div {
    width: 55%; }

.one {
  margin-bottom: 7rem; }

section.style {
  min-height: 99vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: solid 1px #424242; }
  section.style img {
    height: 100%; }

.App {
  text-align: center;
  background: #fffffffb;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.4;
  color: #0f1419; }
  .App img {
    height: 5em;
    width: 7em;
    border-radius: 3%; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  padding: 0.4em 0.6rem;
  font-size: 4rem;
  display: flex;
  justify-content: space-between; }
  .App-header a {
    margin-right: 5%; }
    .App-header a button {
      font-size: 3rem;
      padding: 0;
      margin: 0;
      height: unset; }

.App-title {
  width: min-content;
  margin-left: 5%;
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  color: #689f38a8;
  display: flex; }
  .App-title div {
    padding-left: 3%;
    padding-top: 3%; }
    .App-title div img {
      height: auto;
      width: 120px;
      border-radius: 0%; }

.App-intro {
  padding: 1em; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

div.Canvas {
  display: none; }

.button {
  color: #000000bd;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  /* box-sizing: border-box; */
  display: inline-block;
  padding: 0.5em 0.5em;
  vertical-align: center;
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border-radius: 0.15em;
  border: none;
  cursor: pointer;
  margin: 0.5em 0.5em;
  height: max-content; }

.button:hover {
  color: grey; }

.vitamin-text {
  max-width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  padding-bottom: 2em; }

.vitamin_name {
  padding: 1em; }

.vitamin {
  align-self: center;
  margin: auto;
  background-color: rgba(128, 128, 128, 0.07);
  display: flex;
  justify-content: center; }

.vitamin-inner {
  display: flex;
  align-items: center;
  width: 70%; }

.recipe_images {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.recipe_img_name {
  margin: 1em; }

.recipes_preview {
  position: absolute;
  /* bottom: 0; */
  display: flex;
  background-color: rgba(128, 128, 128, 0.07);
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9em; }
  .recipes_preview img {
    height: 5em;
    width: 7em;
    border-radius: 3%; }

.inner-text {
  padding: 1em 1em 0 1em;
  text-align: left;
  font-weight: 500; }

.recipe_preview {
  display: flex;
  /* align-items: center; */
  flex-direction: column-reverse;
  justify-content: center;
  height: 70%; }

.vitamin_name {
  color: #ff3e0b;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em; }

.recipe-name {
  font-size: 0.9em; }

.login-form-container {
  width: 100%; }

.login-buttons {
  display: flex;
  justify-content: center; }

.login-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw; }

.login-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center; }

.big {
  border: 1px solid darkslategray;
  margin: 1em;
  font-size: 2em; }

.input-text {
  font-size: 3.7em;
  font-family: 'Zilla Slab', serif;
  font-weight: bold; }

.login-labels {
  margin: 1em;
  font-size: 1.5em;
  font-family: 'Zilla Slab', serif;
  display: flex;
  flex-direction: column;
  font-weight: bold; }

.label1 {
  margin: 0.5em;
  margin-left: 1.27em;
  display: flex;
  justify-content: space-evenly;
  line-height: 1.4em; }

.label2 {
  margin: 0.5em;
  display: flex;
  justify-content: space-evenly;
  line-height: 1.4em; }

.login-input {
  width: 50%;
  font-size: 1em; }

.login-form {
  width: 80%; }
