@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Rubik');

.App {
  text-align: center;
  background: #85f7ff;
  font-family: 'Playfair Display', serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #455a64;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.Canvas {
}

.vitamin_detail {
  background-color: grey;
}
