/* Variables */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600|Ubuntu:400,500|Vollkorn:400,600|Zilla+Slab");
/* Mixins */
/* Base Styles */
* {
  box-sizing: border-box; }

html,
body {
  color: #999999;
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  font-weight: 100;
  margin: 0;
  padding: 0; }
