/* Variables */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600|Open+Sans:400,600,700|Zilla+Slab|IBM+Plex+Serif:400,400i,500,500i,600");
/* Mixins */
/* Base Styles */
* {
  box-sizing: border-box; }

html,
body {
  color: #999999;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 100;
  margin: 0;
  padding: 0; }

#logOut {
  padding: 0 1em;
  margin: 0;
  font-size: 3rem; }

section {
  padding-top: 8rem;
  color: #424242; }
  section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem; }
  section h3 {
    font-size: 3rem;
    margin-bottom: 4rem; }
  section p {
    font-size: 2rem;
    line-height: 2rem;
    width: 70%; }

.style1 {
  animation: bgFadeIn 1s ease-in both;
  position: relative;
  padding: 0;
  height: 82vh; }
  .style1:before {
    background: linear-gradient(rgba(3, 18, 28, 0.5), rgba(3, 18, 28, 0.5)), url("./images/tree.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }

@keyframes bgFadeIn {
  0% {
    background-color: white; }
  100% {
    background-color: rgba(255, 255, 255, 0); } }
  .style1 .intro-content {
    flex-direction: column;
    display: flex;
    padding: 7% 10% 4.5% 10%;
    font-family: "Open Sans";
    color: #ffffff;
    height: 100%;
    justify-content: space-between; }
    .style1 .intro-content h2 {
      font-size: 6.5rem;
      line-height: 120%;
      font-weight: bold;
      padding-bottom: 1rem; }
    .style1 .intro-content h3 {
      color: #ffeb3ba3;
      font-size: 6rem;
      margin: 0;
      letter-spacing: 3px;
      line-height: 130%;
      font-weight: 500;
      font-style: italic;
      font-family: "IBM Plex Serif", serif; }
    .style1 .intro-content .intro {
      font-size: 6rem;
      font-family: "Fira Sans", sans-serif;
      letter-spacing: 5px;
      line-height: 130%; }
      .style1 .intro-content .intro li {
        padding: 0.5% 0;
        line-height: 130%; }

#nav {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px #424242; }
  #nav ul {
    display: flex;
    width: 65%;
    font-size: 3rem;
    justify-content: space-between; }
    #nav ul a {
      color: #000000d9;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-transition: color 0.15s ease-in-out;
      transition: color 0.15s ease-in-out;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: center;
      font-family: 'Zilla Slab', serif;
      font-weight: 600;
      font-size: 3rem;
      text-align: center;
      text-decoration: none;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      border-radius: 0.15em;
      border: none;
      cursor: pointer; }
    #nav ul a:hover {
      color: grey; }

div.two-content {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: center; }
  div.two-content div {
    width: 55%; }

div.three-content {
  display: flex;
  justify-content: space-between;
  width: 65%;
  align-items: center; }
  div.three-content div {
    width: 55%; }

div.four-content {
  display: flex;
  justify-content: space-between;
  width: 65%;
  align-items: center; }
  div.four-content div {
    width: 55%; }

.one {
  margin-bottom: 7rem; }

section.style {
  min-height: 90vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  section.style img {
    height: 100%; }
